<p class="text-green-600 text-center text-lg font-semibold mb-6"><%= notice %></p>
<%= link_to "æ˜‡é †", tasks_path(sort: "asc"), class: "underline text-blue-500" %> |
<%= link_to "é™é †", tasks_path(sort: "desc"), class: "underline text-blue-500" %>
<%= render 'shared/selection_piriod'%>

<div id="tasks" class="grid sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 px-6">
  <% @tasks.each do |task| %>
    <div id="<%= dom_id task %>" class="bg-white border border-gray-200 rounded-2xl shadow-md hover:shadow-xl transition-all duration-300 p-6 flex flex-col justify-between">
      <div>
        <h2 class="text-2xl font-bold text-blue-600 flex items-center gap-2 mb-2">
          <span class="text-lg">ðŸ“Œ</span><%=link_to task.title,task %>
        </h2>
        <p class="text-gray-700 mb-4 break-words">
          <%= task.body %>
        </p>
      </div>
       <%= render 'shared/form', task:task%>
    </div>
  <% end %>
</div>
