<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>TaskApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  
  <body class="bg-gray-50 text-gray-800 min-h-screen font-sans flex flex-col">
    <!-- ヘッダー -->
    <%= render 'shared/header' %>
    
    <!-- フラッシュ -->
    <div id="flash"></div>
    <div class="max-w-3xl mx-auto mt-4 px-4">
      <% flash.each do |type, msg| %>
        <div class="p-4 mb-4 rounded-xl shadow-md 
          <%= type == "notice" ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-800' %>">
          <%= msg %>
        </div>
      <% end %>
    </div>

    <!-- メインコンテンツ -->
    <main class="flex-grow px-8 py-10 max-w-screen-2xl mx-auto">
      <%= yield %>
    </main>
    <!-- フッター -->
    <%= render 'shared/footer' %>
    
  </body>
</html>
